*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
section{
    min-height: 100vh;
}

nav a{
    color: white;
    mix-blend-mode: difference;
}

h2{
    padding: 5% 0;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.145em;
}
h1{
    font-weight: 900;
    font-size: 75px;
    letter-spacing: 0.095em;
    color: transparent;
    -webkit-text-stroke: 1px white;
}
h3{
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.03em;
    padding-bottom: 2%;
    color: #b1b0ad;
}
p, 
input, 
nav a,
button{
    font-size: 18px;
    letter-spacing: 0.075em;
    font-weight: 300;
    line-height: 136%;
    text-decoration: none;
}
p,
.designUI{
    padding-bottom: 3%;
} 
#Profil p{
    padding-top: 4%;
}
.accueilName{
    color: #f57963;
}

.reseauxAccueil,
header,
.logoAccueil,
nav,
#Profil,
.logoforces,
.containerProjet,
.card,
#Contact,
.titreProjets,
#Contact footer,
.contactContainer{
    display: flex;
}
/* --------------------- ACCUEIL ----------------- */
#Accueil{
    background: url("./images/page\ d\'accueil-min.png") no-repeat center / cover;
    position: relative;

}
.containerAccueil:before{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 90px;
    height: 0;
    width: 0;
    background: transparent;
    border: 2px solid transparent;
}
.containerAccueil::before{
    animation: animate 1.9s ease-in forwards;
    animation-delay: 1000ms;
}
@keyframes animate{
    0% {
        width: 0;
        height: 0;
        border-left-color: transparent;
    }
    
    99% {
        width: 0;
        height: 99%;
        border-left-color: white;
    }
}


/* ------- div contenant les éléments aux centres------ */
.titreAccueil{
    width: 50%;
    margin: 11% 0;
    height: 33.5vh;
}
.buttonAccueil{
    color: #EAE0D5;
    background: none;
    border: solid 1px #EAE0D5;

}
.containerAccueil{
    margin-left: 10%;
    color: #EAE0D5;
}
/* ----bouton contact---- */
button{
    width: 200px;
    position: relative;
    color: #EAE0D5;
    padding: 13px 26px;
    filter: drop-shadow(0px 9px 10px rgba(16, 12, 39, 0.2));
    border-radius: 2px;
    border: none;
    background: rgba(94, 49, 174, 0.6);
    cursor: pointer;
    outline: none;
    overflow: hidden;
}
button::after{
    content: "";
    display: block;
    position: absolute;
    top:-36px;
    left:-100px;
    background: rgb(255, 255, 255);
    width: 50px;
    height: 125px;
    opacity: 20%;
    transform: rotate(-45deg);
}
button:hover:after {
    left: 120%;
    transition: all 500ms cubic-bezier(0.3, 1, 0.2, 1);
    -webkit-transition: all 600ms cubic-bezier(0.3, 1, 0.2, 1);
}




/* -------------Réseaux et Header-------------- */
.reseauxAccueil, 
header{    
    justify-content: flex-end;
    width: 95%;
    padding: 3% 0.5% 2% 3%;
}
.logoAccueil, nav{
    justify-content: space-between;
    align-items: center;
    width: 10%;
}
nav{
    width: 39%;
}
/* --------- fin ACCUEIL -------- */

/* ---------------------- PAGE PROFIL ------------------------- */
#Profil{
    justify-content: space-evenly;
    align-items: center;
}

.informations,
.logoProfil{
    width: 580px;
    height: 500px;
}
.logoforces{
    border: solid 1px black;
}
.logoskills,
.logooutils{
    width: 50%;
}

/* ------- fin profil ------- */

/* --------------- PROJETS ---------------- */
#Projets button{
    background: rgba(240, 91, 64, 0.8);
}
.degProf{
    position: absolute;
}

/* ----------- cartes des projets ---------------- */
.containerProjet{
    flex-direction: column;
    align-items: center;
}
.card{
    justify-content: space-between;
    text-align: right;
    margin: 6% 0 0% 3%;
    width: 70%;

}
.card img,
.card2 img{
    
    width: 40%;
    border-radius: 3px;
}
.card2{
    text-align: left;
}



.infoProjet *,
.containerAccueil h1,
.containerAccueil h3,
.containerAccueil p {
    margin-top: 3%;
}

.card1 img{
    margin-right: 3%;
}
/* --------------- FIN PROJETS ------------- */
/* -------------- CONTACT ----------------- */
#Contact{
    background: url("./images/backgroundcontact-min.png") no-repeat center / cover;
    color:#EAE0D5;
}
#Contact, 
.titreProjets{
text-align: center;
flex-direction: column;
justify-content: space-between;
}

#Contact footer{
justify-content: center;
height: 80px;
}
footer nav a,
.logoforces img,
#Contact p
{
    margin: 5%;
}

.contactContainer{
width: 45%;
margin: 0 auto;
height: 600px;
flex-direction: column;
justify-content: center;
}
.contactButton button:first-child{
    margin-right: 30px;
}

.logoRes a{
    padding: 0px 10px;
    
}
